/* Temporarily attached to body */
.inLineFormat {    
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  justify-content: center;
}

.downloadColumn {padding-top: 150px}

#sendableForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridFormat { grid-template-columns: 98px 150px 133px 170px 125px 121px;
  display: grid;
  justify-content: center;
  column-gap: 20px;
}

.frontContainer { grid-template-areas: ". names pd address dates measurements";
  grid-template-rows: auto; 
}

.measuresContainer {  grid-template-rows: repeat(5, auto);
  grid-template-areas: "m1List material nameList installComp pasCert popt"
  "m2List m2material m2nameList m2installComp m2pasCert m2popt"
  "m3List m3material m3nameList m3installComp m3pasCert m3popt"
  "m4List m4material m4nameList m4installComp m4pasCert m4popt"
  "m5List m5material m5nameList m5installComp m5pasCert m5popt";

  margin: 0px 20px;
  background-color: lightgrey;
  border: 20px lightgrey solid;
  border-radius: 20px;
}

.smartContainer {  grid-template-areas: "schemeNum scheme evidence propType yearOf rdsap";
  grid-template-rows: auto; 
  padding: 15px 0px; 
}

.propContainer {grid-template-rows: repeat(2, auto); 
  grid-template-areas: "mainProp wallType roomHeight wallPerim roofTypes floorArea" 
  "EX-mainProp EX-wallType EX-roomHeight EX-wallPerim EX-roofTypes EX-floorArea" ;

  margin: 0px 20px;
  background-color: lightgrey;
  border: 20px lightgrey solid;
  border-radius: 20px;
  gap: 20px;
}

#personalDetails, #dates {background-color: #eeeeee}

#names {grid-area: names}
#personalDetails {grid-area: pd}
#address {grid-area: address}
#dates {grid-area: dates}
#measurements {grid-area: measurements}

#measureListDiv {grid-area: m1List}
#materialsDD {grid-area: material}
#installerComps {grid-area: installComp}
#installerNameList {grid-area: nameList}
#PAScert {grid-area: pasCert}
#POPTs {grid-area: popt}
/* Extra measures at the bottom of file */

#measureAdd{grid-area: measureAdd}

#schemeNum {grid-area: schemeNum}
#govScheme {grid-area: scheme}
#evidence {grid-area: evidence}
#propType {grid-area: propType}
#YOprop {grid-area: yearOf}
#rdsap {grid-area: rdsap}

#mainProp {grid-area: mainProp}
#wallConstruct {grid-area: wallType}
#roomHeightNums {grid-area: roomHeight}
#wallPerim {grid-area: wallPerim}
#roofTypes {grid-area: roofTypes}
#floorAreaDiv {grid-area: floorArea}

#EX-prop {grid-area: EX-mainProp}
#EX-wallConstruct {grid-area: EX-wallType}
#EX-roomHeightNum {grid-area: EX-roomHeight}
#EX-wallPerim {grid-area: EX-wallPerim}
#EX-roofTypes {grid-area: EX-roofTypes}
#EX-floorAreaDiv {grid-area: EX-floorArea}

#extensionAdd {grid-area: exAdd}

#frontSheetRequestor {grid-area: FSreq}
#smartPackRequestor {grid-area: SPreq}

#tel, #landlord {width: 124px;}
#postcode {width: 80px;}

/* div {    background-color: #e5ffe5;
    border: 10px #e5ffe5 solid;
    border-radius: 10px; } */

/* Measure 2 */
#m2measureListDiv {grid-area: m2List;}
#m2materialsDD {grid-area: m2material}
#m2installerComps {grid-area: m2installComp;}
#m2installerNameList {grid-area: m2nameList;}
#m2PAScert {grid-area: m2pasCert;}
#m2POPTs {grid-area: m2popt;}

/* Measure 3 */
#m3measureListDiv {grid-area: m3List;}
#m3materialsDD {grid-area: m3material}
#m3installerComps {grid-area: m3installComp;}
#m3installerNameList {grid-area: m3nameList;}
#m3PAScert {grid-area: m3pasCert;}
#m3POPTs {grid-area: m3popt;}

/* Measure 4 */
#m4measureListDiv {grid-area: m4List;}
#m4materialsDD {grid-area: m4material}
#m4installerComps {grid-area: m4installComp;}
#m4installerNameList {grid-area: m4nameList;}
#m4PAScert {grid-area: m4pasCert;}
#m4POPTs {grid-area: m4popt;}

/* Measure 5 */
#m5measureListDiv {grid-area: m5List;}
#m5materialsDD {grid-area: m5material}
#m5installerComps {grid-area: m5installComp;}
#m5installerNameList {grid-area: m5nameList;}
#m5PAScert {grid-area: m5pasCert;}
#m5POPTs {grid-area: m5popt;}
