.formContainer {
  display: grid;
  grid-template-columns: 98px 150px 133px 150px 125px 106px 98px;
  grid-template-rows: 170px 50px 20px 90px 60px repeat(2, 20px);
  grid-template-areas: ". names pd address dates measurements FSreq"
                       ". measureList nameList installComp pasCert popt ."
                       ". . . measureAdd . . ."
                       "URN scheme evidence rdsap yearOf propType ."
                       "mainProp wallType roomHeight wallPerim roofTypes floorArea ." 
                       ". . . exAdd . . ."
                       "EX-mainProp EX-wallType EX-roomHeight EX-wallPerim EX-roofTypes EX-floorArea .";

  justify-content: center;
  gap: 30px;
  }

#names {grid-area: names}
#personalDetails {grid-area: pd}
#address {grid-area: address}
#dates {grid-area: dates}
#measurements {grid-area: measurements}

#measureList {grid-area: measureList}
#installerComps {grid-area: installComp}
#installerNameList {grid-area: nameList}
#PAScert {grid-area: pasCert}
#POPTs {grid-area: popt}

#measureAdd{grid-area: measureAdd}

#URNdisplay {grid-area: URN}
#govScheme {grid-area: scheme}
#evidence {grid-area: evidence}
#propType {grid-area: propType}
#YOprop {grid-area: yearOf}
#rdsap {grid-area: rdsap}

#mainProp {grid-area: mainProp}
#wallConstruct {grid-area: wallType}
#roomHeightNum {grid-area: roomHeight}
#wallPerim {grid-area: wallPerim}
#roofTypes {grid-area: roofTypes}
#floorAreaDiv {grid-area: floorArea}

#EX-prop {grid-area: EX-mainProp}
#EX-wallConstruct {grid-area: EX-wallType}
#EX-roomHeightNum {grid-area: EX-roomHeight}
#EX-wallPerim {grid-area: EX-wallPerim}
#EX-roofTypes {grid-area: EX-roofTypes}
#EX-floorAreaDiv {grid-area: EX-floorArea}

#extensionAdd {grid-area: exAdd}

#frontSheetRequestor {grid-area: FSreq}

input {
width: 100%;
box-sizing: border-box;
margin: 10px 0px;}

select {margin: 10px 0px;}

#tel, #landlord {width: 124px;}
#postcode {width: 80px;}

#measureAdd, #extensionAdd {
  display: flex;
  justify-content: center;
}

.inline {display: flex;
  flex-direction: row;}

.inline label /*DWPmatch*/ {padding-top: 7px;
  width: 190px;}

/* div {    background-color: #e5ffe5;
    border: 10px #e5ffe5 solid;
    border-radius: 10px; } */